.btn-link.btn-floating.btn-lg {
    text-decoration: none;
    color: dark;
    margin: 1px;
  }
  
  .btn-link.btn-floating.btn-lg:hover {
    color: dark;
  }
  
  
  .text-center.text-dark.p-3 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .text-center.text-dark.p-3 a {
    text-decoration: none;
    color: dark;
  }
  
  .text-center.text-dark.p-3 a:hover {
    color: dark;
  }