
<div class="background">
  <main>
    <div class="container">
      <div class="image-container">
        <img class="image-before slider-image" alt="color photo" />
        <img class="image-after slider-image" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider" />
      <div class="slider-line" aria-hidden="true"></div>
      <div class="slider-button" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">

      <h2 class="featurette-heading fw-normal lh-1 p-3">Patios</h2>
      <p class="lead">Transform your backyard into a stunning retreat with our custom patio designs. Whether you're looking for a cozy spot for intimate gatherings or a spacious area for large parties, we specialize in creating beautiful, durable patios that enhance your outdoor living space. Our team uses high-quality materials ranging from natural stone to pavers, ensuring a stylish yet functional patio tailored to your preferences and lifestyle. Experience the perfect blend of craftsmanship and style with our professional patio installation services, and make your outdoor dreams a reality.
      </p>
    </div>
  </main>
  <hr class="featurette-divider">
  <main class="main2">
    <div class="container2">
      <div class="image-container2">
        <img class="image-before2 slider-image2" alt="" alt="color photo" />
        <img class="image-after2 slider-image2" alt="" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider2" />
      <div class="slider-line2" aria-hidden="true"></div>
      <div class="slider-button2" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Walkways</h2>
      <p class="lead">Elevate the accessibility and aesthetic of your property with our professional walkway installation services. Our expert team designs and constructs elegant walkways that not only enhance the curb appeal of your home but also improve its functionality. Choose from a variety of materials, including cobblestone, flagstone, and brick, to create a welcoming path that complements your landscape. Our walkways are built to withstand the test of time, providing a safe and charming route through your garden or yard, seamlessly connecting different areas of your outdoor space.</p>
    </div>
  </main>

  <hr class="featurette-divider">

  <main>
    <div class="container3">
      <div class="image-container3">
        <img class="image-before3 slider-image3" alt="" alt="color photo" />
        <img class="image-after3 slider-image3" alt="" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider3" />
      <div class="slider-line3" aria-hidden="true"></div>
      <div class="slider-button3" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Retaining Wall</h2>
      <p class="lead">Secure and beautify your landscape with our custom retaining wall services. Retaining walls are essential for managing sloped areas and preventing erosion, but they can also add a significant aesthetic element to your yard. Our team constructs strong, reliable retaining walls tailored to your site’s specific needs, using materials that blend with your landscape while ensuring longevity. From functional terraced gardens to stylish soil retention, our walls provide peace of mind and add value to your property. Let us help you transform challenging terrain into a stunning visual feature with our expert retaining wall solutions.</p>
    </div>
  </main>
</div>

