<div class="background mt-5">
  <main class="main">
    <div class="container">
      <div class="image-container">
        <img class="image-before slider-image" alt="color photo" />
        <img class="image-after slider-image" alt="black and white" />
      </div>
      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider" />
      <div class="slider-line" aria-hidden="true"></div>
      <div class="slider-button" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>
    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Indoor/Outdoor House Clean Outs</h2>
      <p class="lead">Our house clean-out service is designed to help you reclaim your living space. Whether you're dealing with a cluttered home, preparing for a move, or handling an estate clean-out, our professional team is here to assist. We handle all types of household items with care and efficiency, ensuring your home is left clean and organized.</p>
    </div>
  </main>

  <hr class="featurette-divider">

  <main class="main2">
    <div class="container2">
      <div class="image-container2">
        <img class="image-before2 slider-image2" alt="color photo" />
        <img class="image-after2 slider-image2" alt="black and white" />
      </div>
      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider2" />
      <div class="slider-line2" aria-hidden="true"></div>
      <div class="slider-button2" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>
    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Shed Clean Out</h2>
      <p class="lead">Is your shed overflowing with unwanted items? Our shed clean-out service will help you clear out and organize your outdoor storage space. We remove tools, old equipment, and other junk, giving you back a clean and functional shed. Let us handle the hard work so you can enjoy a clutter-free outdoor area.</p>
    </div>
  </main>
  <hr class="featurette-divider">
  <main class="main">
    <div class="container2">
      <div class="image-container2">
        <img class="image-after3 slider-image" alt="black and white" />
      </div>
    </div>
    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Attic & Basement</h2>
      <p class="lead">Attics and basements can quickly become storage areas for unwanted items. Our attic and basement clean-out services will help you clear these spaces, making them usable once again. We tackle even the most cluttered areas, ensuring that all items are removed safely and responsibly. Let us help you transform your attic or basement into a functional part of your home.</p>
    </div>
  </main>
</div>