
<div class="background">
  <main class="main">
    <div class="container2">
      <div class="image-container2">
        <img class="image-before slider-image" alt="" alt="color photo" />
        <img class="image-after slider-image" alt="" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider2" />
      <div class="slider-line2" aria-hidden="true"></div>
      <div class="slider-button2" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Tax Planning and Advisory</h2>
      <p class="lead">Stay ahead of the curve with our proactive tax planning and advisory services. Our experienced team will work closely with you to develop strategic tax-saving strategies tailored to your financial objectives. Whether you're an individual, small business, or corporation, we provide personalized guidance to minimize tax liabilities, optimize financial resources, and achieve long-term tax efficiency.</p>
    </div>
  </main>
  <hr class="featurette-divider">
  <main class="main2">
    <div class="container2">
      <div class="image-container2">
        <img class="image-before2 slider-image2" alt="" alt="color photo" />
        <img class="image-after2 slider-image2" alt="" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider2" />
      <div class="slider-line2" aria-hidden="true"></div>
      <div class="slider-button2" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">Tax Planning and Advisory</h2>
      <p class="lead">Stay ahead of the curve with our proactive tax planning and advisory services. Our experienced team will work closely with you to develop strategic tax-saving strategies tailored to your financial objectives. Whether you're an individual, small business, or corporation, we provide personalized guidance to minimize tax liabilities, optimize financial resources, and achieve long-term tax efficiency.</p>
    </div>
  </main>

  <hr class="featurette-divider">

  <!-- <main>
    <div class="container3">
      <div class="image-container3">
        <img class="image-before3 slider-image3" alt="" alt="color photo" />
        <img class="image-after3 slider-image3" alt="" alt="black and white" />
      </div>

      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider3" />
      <div class="slider-line3" aria-hidden="true"></div>
      <div class="slider-button3" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>

    <div class="feature-desc p-5">
      <h2 class="featurette-heading fw-normal lh-1 p-3">IRS Representation</h2>
      <p class="lead">Facing IRS inquiries or audits can be daunting, but you don't have to navigate them alone. Our dedicated team offers comprehensive IRS representation services to advocate for your interests and ensure fair treatment throughout the process. From correspondence handling to audit defense, we provide expert guidance and representation, allowing you to focus on your daily activities with confidence and peace of mind.</p>
    </div>
  </main> -->
</div>

