/* hero.component.css */
.hero-container {
    position: relative;
    background-image: url('../../assets/gallery/pic5.jpg');
    background-size: cover;
    background-position: center;
    height: 200px; /* Adjust based on your preference */
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay; adjust opacity as needed */
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .container {
    z-index: 2;
  }
  
  /* Optional: If you want the title to stand out more */
  h1 {
    font-weight: bold;
  }
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  .featurette{
    padding: 100px;
  }

  .truck-image {
    width: 100%; /* Make width responsive */
    height: 0; /* Set height to 0 */
    padding-top: 100%; /* Padding top as a percentage of the width to maintain aspect ratio */
    background-image: url('../../assets/truck_plow.jpg');
    background-size: cover; /* Ensures the background image covers the entire content area */
    background-position: center; /* Center the image within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }
  
  /* Media query adjustments for better responsiveness */
  @media (max-width: 1024px) {
    .featurette {
      display: block;
    }
    
    .text, .image {
      width: 100%; /* Full width for smaller screens */
      padding: 0 15px; /* Adding some padding */
      text-align: center; /* Center text for better readability on small devices */
    }
    
    .truck-image {
      height: auto; /* Auto height for natural aspect ratio */
      padding-top: 56.25%; /* 16:9 aspect ratio, adjust as needed */
    }
  }
  
  @media (max-width: 768px) {
    .truck-image {
      padding-top: 75%; /* Adjust padding-top to maintain a good aspect ratio on very small screens */
    }
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  