<!-- hero.component.html -->
<div class="hero-container position-relative">
    <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container position-relative d-flex justify-content-center align-items-center h-100">
      <h1 class="text-center text-white">What were about</h1>
    </div>
  </div>
  

  <div class="row featurette">
    <div class="text col-md-7 order-md-2 m-auto">
      <h2 class="featurette-heading fw-normal lh-1">Let me tell you about our business! <span class="text-body-secondary"></span></h2>
      <p class="lead">
        Certainly!
        
        About Us
        
        At Asad Accounting Bookkeeping and Taxes, we are committed to providing exceptional tax accounting services tailored to meet the unique needs of our clients. With a focus on accuracy, integrity, and personalized attention, we strive to be your trusted partner in navigating the complexities of taxation and financial planning.
        <br><br>
        Our team of seasoned professionals brings extensive experience and expertise in tax preparation, planning, and advisory services. We understand that every client's situation is unique, which is why we take the time to listen, analyze, and develop customized solutions to optimize your financial outcomes.
        <br><br>
        Transparency and client satisfaction are at the core of our values. We believe in fostering long-term relationships built on trust, reliability, and mutual respect. Whether you're an individual, small business owner, or corporation, we are dedicated to delivering results-driven strategies that help you achieve your financial goals efficiently and effectively.
        <br><br>
        At Asad Accounting Bookkeeping and Taxes, we are more than just your tax accountants; we are your partners in success. Let us handle the numbers while you focus on what matters most. Experience the difference with Asad Accounting Bookkeeping and Taxes – where expertise meets excellence in tax accounting services.
        
        </p>
    </div>
    <div class="image col-md-5 order-md-1">
      <div class="truck-image"></div>
    </div>
  </div>