#logo {
    height: 100px;
    position: absolute;
    bottom: -50px;
    z-index: 15;
    content: url('../../assets/reyes-logo.png');
}

.logo-container {
    padding-top: 30px;
}

.contact-btn {
    margin: 10px;
    background-color: #02aeec;
}

.navbar-expand-lg .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

h3 {
    margin: 0;
}

.phone{
    text-decoration: none;
    color: black;
}
@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav {
        justify-content: flex-start;
        height: fit-content;
    }

    .contact-btn {
        margin-bottom: 25px;
    }

    .logo-container {
        display: none;
    }

    h3 {
        text-align: center;
        font-size: 2em;
        width: 100%;
    }
}

.nav-item {
    padding-left: 10px;
}

.nav-link {
    cursor: pointer;
}

nav {
    padding-top: 0;
}

nav.navbar {
    position: relative;
    z-index: 10;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

@media (max-width: 991px) {
    .navbar-collapse {
        padding-bottom: 25px;
    }

    h3 {
        text-align: center;
        font-size: 2em;
        width: 100%;
    }
}