<!-- hero.component.html -->
<div class="hero-container position-relative">
  <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
  <div class="container1 position-relative d-flex justify-content-center align-items-center h-100">
    <h1 class="text-center text-white">Heres what we do</h1>
  </div>
</div>

<div class="features-container">
  <app-features></app-features>
  <div class="contact-container">
    <p id="text">I speak English, Bengali, Hindi</p>
</div>
<!-- 
<div class="featurette">
  <div class="text col-md-7 order-md-2 m-auto text-center">
    <h2 class="dumpster-heading fw-normal lh-1">Dumpster rentals now available!<span class="text-body-secondary"></span></h2>
    <p class="lead">Daily and weekly rentals</p><p class="lead">Contact us today for availability and pricing</p>
  </div>
  <div class="image">
    <div class="truck-image m-auto"></div>
  </div>
</div> -->