/* hero.component.css */
.hero-container {
  position: relative;
  /* background-image: url('../../assets/pic1.jpg'); */
  background-size: cover;
  background-position: center;
  height: 200px;
  /* Adjust based on your preference */
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay; adjust opacity as needed */
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container1 {
  z-index: 2;
}

/* Optional: If you want the title to stand out more */
h1 {
  font-weight: bold;
}

.contact-container {
  display: flex;
  background-color: #2E2E30;
  /* #a1a1a1  #1e1e1e*/
  width: 100%;
  height: 200px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 1em 1.5em rgba(0, 0, 0, .25), inset 0 0.125em 0.5em rgba(0, 0, 0, .30);
  padding: 20px;
}

#text {
  padding-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
}


.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette{
  padding: 50px;
}

.truck-image {
  max-width: 1000px;
  width: 100%; /* Make width responsive */
  height: 0; /* Set height to 0 */
  padding-top: 100%; /* Padding top as a percentage of the width to maintain aspect ratio */
  background-size: cover; /* Cover ensures the background image covers the entire content area */
  background-position: center; /* Center the image within the element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.dumpster-heading {
  font-size: 48px;
}
