<div id="background">
    <div class="trans-background">
        <h1 id="heading">Here's what our satisfied customers are saying...</h1>
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="container mt-5 mb-5">
                    <div class="row g-2">
                        <div class="col-md-12">
                            <div class="card p-3 text-center px-4">
                                <div class="card-container">
                                    <img src="assets/review1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="container mt-5 mb-5">
                    <div class="row g-2">
                        <div class="col-md-12">
                            <div class="card p-3 text-center px-4">
                                <div class="card-container">
                                    <img src="assets/review2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="container mt-5 mb-5">
                    <div class="row g-2">
                        <div class="col-md-12">
                            <div class="card p-3 text-center px-4">
                                <div class="card-container">
                                    <img src="assets/review3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="container mt-5 mb-5">
                    <div class="row g-2">
                        <div class="col-md-12">
                            <div class="card p-3 text-center px-4">
                                <div class="card-container">
                                    <img src="assets/review4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>