.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.col-md-12 {
    width: 100%;
}

.mb-5 {
    margin-bottom: 3rem !important;
    text-align: -webkit-center;
}

.carousel-control-prev {
    left: -25px !important;
}

.carousel-control-next {
    right: -25px !important;
}

h1#heading {
    font-family: system-ui;
    text-align: center;
    padding-top: 25px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#background {
    width: 100%;
    /* background-image: url('../../assets/gallery/yard.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.trans-background {
    background-color: rgba(44, 46, 44, .8);
    border-radius: 25px;
}

.user-image {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .card {
        flex-direction: column;
    }

    .col-md-12 {
        width: 100%;
    }

    h1#heading {
        font-size: 1.5em;
        padding: 10px;
    }

    #background {
        padding: 10px;
    }
}

.container {
    width: 80%;
}

img {
    max-width: 100%;
    height: auto;
}