/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "@fortawesome/fontawesome-free/css/all.css";

app-features {
    text-align: -webkit-center;
}

.space-grotesk-font {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  