<div class="hero-content px-4 py-5 my-5 text-center text-white montserrat-font">
    <img src="assets/reyes-logo.png" height="200" alt="">
    <h1 class="text display-5 fw-bold">Reyes Junk Removal</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Local Junk removal in Rockland County</p>
        <div class="d-sm-flex justify-content-sm-center">
            <a href="tel:+16037656625">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3 quotes-btn">(845) 304-9742</button>
            </a>    
        </div>
    </div>
</div>

<div class="hero-image">
    <img src="assets/junk-hero.webp" alt="Reyes Hero Image" class="img-fluid">
    <div class="overlay"></div>
</div>

<app-contact></app-contact>
<app-features></app-features>
<app-testimonials></app-testimonials>
